<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Hospital Management System</title>
<link rel = "icon" type = "image/png" href = "/images/logo.png">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="/">
      <img src="/images/logo.png" width="30" height="30" alt="">
  &nbsp; Hospital Management System
  </a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/doctors}">Doctors</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>
	<div class = "container">
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center"> Add New Doctor </h1>
				<div class = "card-body">
					<form th:action="@{/doctors}" th:object = "${doctor}" method="POST">
						<div class ="form-group">
							<label> Doctor First Name </label>
							<input
							required
							type = "text"
							name = "firstName"
							th:field = "*{firstName}"
							class = "form-control"
							placeholder="Enter Doctor First Name" 
							/>
						</div>
						
						<div class ="form-group">
							<label> Doctor Last Name </label>
							<input
							required
							type = "text"
							name = "lastName"
							th:field = "*{lastName}"
							class = "form-control"
							placeholder="Enter Doctor Last Name" 
							/>
						</div>
						
						<div class ="form-group">
							<label> Doctor Email </label>
							<input
							required
							type = "email"
							name = "email"
							th:field = "*{email}"
							class = "form-control"
							placeholder="Enter Doctor Email" 
							/>
						</div>
						<div class ="form-group">
							<label> Doctor Phone Number </label>
							<input
							required
							type = "text"
							name = "phone_number"
							th:field = "*{phone_number}"
							class = "form-control"
							placeholder="Enter Doctor Phone Number" 
							/>
						</div>
						<div class ="form-group">
							<label> Doctor Major </label>
							<input
							required
							type = "text"
							name = "major"
							th:field = "*{major}"
							class = "form-control"
							placeholder="Enter Doctor Major" 
							/>
						</div>							
						
						<div class = "box-footer">
							<button type="submit" class = "btn btn-primary">
								Submit
							</button>
						</div>
					</form>
				
				</div>
			</div>
		</div>
	</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>	
</body>
</html>